@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-content p {
  @apply my-4;
}

.blog-content h2 {
  @apply text-2xl;
  @apply font-semibold;
}

.blog-content h4 {
  @apply text-lg;
  @apply font-semibold;
}

.blog-content ol {
  @apply list-decimal;
}

.blog-content ul {
  @apply list-disc;
}
